// *--styles

@import './styles_parameters';


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: wheat;
}

#screen1{
    background-color: brown;

    #container1{
        justify-content: center;
        align-items: center;
        #titulo{
            width: 100%;
            height: 45px;
            text-align: center;
        }
    }
    #container2{
        justify-content: space-between;
        align-items: end;

        #botonLight{
            width: 80px;
            height: 50px;
            background-color: white;
        }
        #botonDark{
            width: 80px;
            height: 50px;
            background-color: black;
            color: white;
        }
    }
}



